

html {
  font-size: 16px;
}

body{
width: 100%;
background-color:#c7e2ed;


}

.navbar-static-top{
background-color: #464647;
margin-bottom: 0px;
}

.main{

	background-image: url("../img/end.jpg");	
	background-size:cover;
	background-repeat: no-repeat;
	padding: 150px 0px ;
	margin-bottom: 0px;
	text-shadow: 0 2px #000000;
	font-family: 'Trebuchet MS', 'Helvetica';
	border-style: solid;
	width: 100%;
}





.main p {
margin: 0px 0px 0px 0px;
	color: #00FFAA;
	font-size: 2rem;
	text-decoration: none;
	text-align:center;
	padding: 0px 0px 0px 0px;

}
.main h1 {
	margin: 40px ;
	color: #00FFAA;
	font-size: 4rem;
	text-decoration: none;
	text-align: center;
	padding: 0px 0px 0px 0px;
}



.main h6 {
margin: 20px 0px 0px 0px;
	color: #00FFAA;
	font-size: 1.5rem;
	text-decoration: none;
	text-align: center;
	padding: 0px 0px 0px 0px;
}

.main h5{
color:#4889ea;
font-size: 1.25rem;
text-align: right;
padding-right: 10px;
font-style: italic;
}





.welcome {
max-width:1500px;  
position: relative;     
margin-top:40px;        
background-color:#c7e2ed;
padding:0;
margin-bottom: 40px;
}


.welcome p {  
font-size:1.25rem;
padding: 5px 20px 5px 20px;
text-align: justify;
}

.welcome h2{
text-align: center;
font-family:  "Georgia", serif;
}

.gospel{
	border: solid 2px green;
}

.gospel h2{
	color: green;
	font-weight: 600;
}

.main-body{
width:100%;
display: inline-block;
}


.left-sidebar {
  display: inline-block;
  float: left; 
  background-color:#c7e2ed;
  text-align: center;
  min-width: 9rem;
}

.left-sidebar h3{
font-family: "Georgia", serif;
 
padding-left:1rem; 
text-style: bold;
text-align: center;
margin:1rem 1rem;
}

.left-sidebar p{
font-family: "Georgia", serif;
  
text-align: left;
padding-left:1rem;
font-size:1rem;
line-height: 1rem;
}

.col-sm-6{
 border-left: 1px solid;
 border-right: 1px solid;
}

.middle-bar {
  display: inline-block;
 background-color:#c7e2ed;
  text-align: left;
font-family:  "Georgia", serif;
}

.middle-bar h3{
font-size: 1.5rem;
}

.middle-bar p{
font-size: 1rem;
}

.right-sidebar {
display: inline-block;
background-color:#b2d7ff;
background-color: #c7e2ed;
  text-align: center;
   min-width: 9rem;
}

.right-sidebar p{
font-family:  "Georgia", serif;
  
text-align: left;
padding-left:1rem;
font-size:1rem;

line-height: 1rem;
}

.right-sidebar h3{
font-family:  "Georgia", serif;
text-align: center;
margin:1rem 0rem;
}


.threeTimes{
display: inline-block;
  width:33%;
}

.threeTimes p{
text-align: justify;
}
a:visited{
color:black;
}
a:link{
color:black;
}

.footer p{
font-family: "Georgia", serif;
font-size: 1rem;
border-top: 1px solid;
margin:1rem ;
 
}




/****** Fulfilled prophesies ******/

.past-table{
font-family: Helvitica, sans-serif;


}

.past-table th{
background-color:#d9dce0    ;
 position: -webkit-sticky;
  position: sticky;
margin-top: 0px;

}

.past-table tr:nth-child(even){background-color: #f2f2f2;}
.past-table tr:nth-child(odd){background-color: #FFF;}
.past-table tr:hover {background-color: #ddd;}

 .past-table tr{
vertical-align: top;
padding: 10 10 10 10;
font-size: 1rem;
}

.past-table td, th{
padding: 7px; 
}

/* Fulfilled prophesies - End*/




/* Future . html */

#events .future-event{
width: 100%;
border-style: solid;
display: inline-block;
background-color: #ffffff;
padding: 0px 0px;
}

#events .future-event .text{
float: right;
width: 55%;
}

.future-event .image img {
 width: 40%;
float: left;
padding: 10px 10px;
height: 200px;
}

#events .future-event  h3{
font-family: 'Open Sans', sans-serif;
        font-size:1.5rem;
	text-align: center;
	font-weight: bold;
margin: 10px 0px 0px 0px;
}

#events .future-event .text p
{
    line-height:25px;
    font-size: 1.25rem;
    font-family: 'Open Sans', sans-serif;
    padding: 10px 10px;
}



#events .future-event .text h6{
font-size: 0.85rem;
font-style: italic;
text-align: right;
margin: 10px 0px ;
width: 75%;
margin-left: 23%;
padding-right: 10px;

}

.intro{
  font-size: 20px;
  width: auto;
  border: 5px solid black;
  margin: 5px 5px;
  padding: 10px 30px;
  text-align: justify;
  background-color: #699bea;
  color: #fff;
}




/* contact.html  */

.contact{
margin-top: 50px;
margin-left:50px;
}

@media only screen and (max-width: 480px ){

    .contact h2{

        font-size: 1rem;
 
}
}


/* Happening prophesies */

.eventHead{
  font-size: 1.5rem;
  font-weight: 20;
}

.p-jews{
font-size: 1.25rem;
height: auto;
width:100%;
background-color: #e8eff2;
padding: 3px 5px;
}

.p-trends {
font-size: 1.25rem;
height: auto;
width:100%;
background-color: #e8eff2;
padding: 3px 5px;
}

.p-events{
font-size: 1.25rem;
height: auto;
width:100%;
background-color: #e8eff2;
padding: 3px 5px;
}




.refs  {
  text-align: right;
  display: contents;
}
.item {
  /*text-align: right;*/
  color: blue;
  font-size: 1rem;
}

.verses {
  color: black;
  text-align: left;
  margin-left: 70px;
  font-size: 1rem;
}

.news {
  color: blue;
  text-align: left;
  margin-left: 70px;
  font-size: 1rem;
}

/*
.present-leftbar{
 border-left: 1px solid;
 border-right: 1px solid;
}
*/

.present-middlebar{
 border-left: 1px solid;
 border-right: 1px solid;
}

/*
.present-rightbar{
 border-left: 1px solid;
 border-right: 1px solid;
}
*/

.topline{
  border-bottom: 1px solid;
  padding: 5px 200px;
}

/* Happening prophesies - End */

/* contact */

#salvation {
	margin: 5px 20px;
	font-size: 20px;
}
